<header class="site-header">

  <div class="wrapper">
    <div class="intro">
      <h1><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
      <h2>Browse lead results, demolition status, and lots for sale</h2>
    </div>

    <nav class="site-nav">
      <a href="{{ '/about' | prepend: site.baseurl }}">About the data</a>
      <a href="{{ '/contact' | prepend: site.baseurl }}">Contact us</a>
      <a href="{{ '/blog' | prepend: site.baseurl }}">Blog</a>
    </nav>

  </div>
</header>
